{% extends 'partials/base.html' %}
{% load static %}
{% load bangla_format %}

{% block title %}Checkout{% endblock title %}

{% block content %}


 {% if errors %} 
 <ul class="error-list"> 
  {% for e in errors %} 
  <li style="color:red;">{{ e }}</li> 
  {% endfor %} 
</ul> 
{% endif %}

<div class="checkout-container">
  <div class="shipping-form">
    <h3>শিপিং তথ্য</h3>
    <form method="post">
      {% csrf_token %}
      <label>পূর্ণ নাম</label>
      <input type="text" name="full_name" value="{{ form.full_name|default:'' }}" required>

      <label>ফোন</label>
      <input type="text" name="phone" value="{{ form.phone|default:'' }}" required>

      <label>ঠিকানা</label>
      <input type="text" name="address" value="{{ form.address|default:'' }}" required>

      <label>শহর</label>
      <input type="text" name="city" value="{{ form.city|default:'' }}">

      <label>দেশ</label>
      <input type="text" name="country" value="{{ form.country|default:'বাংলাদেশ' }}">

      <label>নোট</label>
      <textarea name="notes">{{ form.notes|default:'' }}</textarea>

      <button type="submit" class="btn-submit">অর্ডার করুন</button>
    </form>
  </div>
  <div class="order-summary">
    <h3>অর্ডার সারাংশ</h3>
    <ul>
      {% for pid, item in cart.items %}
        <li>{{ item.title }} × {{ item.qty }} — {{ item.price|bangla_currency }}</li>
      {% endfor %}
    </ul>
    <p>সাবটোটাল: {{ subtotal|bangla_currency }}</p>
    <p>শিপিং: {{ shipping|bangla_currency }}</p>
    <p><strong>মোট: {{ total|bangla_currency }} </strong></p>
  </div>
</div>


  
{% endblock content %}
