{% extends 'partials/base.html' %}
{% load static %}

{% block title %}অ্যাকাউন্ট{% endblock title %}

{% block content %}

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>সব ক্যাটাগরি</span>
                    </div>
                    <ul> 
                        {% for c in categories %}
                        <li><a href="{% url 'core:category-product-list' c.cid %}">
                        {{ c.title }}
                        </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="{% url 'core:search' %}" method="GET">
                            <input type="text" placeholder="আপনি কী খুঁজছেন?" name="q">
                            <button type="submit" class="site-btn">খুঁজুন</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>২৪/৭ সাপোর্ট</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'assets/img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>অ্যাকাউন্ট</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'core:index' %}">হোম</a>
                        <span class="breadcrumb__separator"><i class="fa fa-angle-right"></i></span>
                        <span>অ্যাকাউন্ট</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Account Section Start -->
<section class="my-5">
    <div class="container">
        <div class="custom-grey-bg shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="img-circle text-center mb-3">
                        <img src="{{ user.image.url }}" alt="User" class="shadow">
                    </div>
                    </form>
                    <h4 class="text-center">{{ user.name }}</h4>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a href="#account" class="nav-link active" id="account-tab" data-toggle="pill" role="tab" aria-controls="account" aria-selected="true">
                        <i class="fa fa-home text-center mr-1"></i>
                        অ্যাকাউন্ট
                    </a>
                </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <h3 class="mb-4">অ্যাকাউন্ট সেটিংস</h3>
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>পূর্ণ নাম</label>
                                <input name="name" type="text" class="form-control" value="{{ user.name }}" placeholder="আপনার নাম">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ইউজারনেম</label>
                                <input required name="username" type="text" class="form-control username-validation" value="{{ user.username }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ফোন নম্বর</label>
                                <input name="phone" type="text" class="form-control" value="{{ user.phone }}" placeholder="+88 017XXXXXXXX">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ইমেইল</label>
                                <input disabled type="text" class="form-control" value="{{ user.email }}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>বায়ো</label>
                                <textarea  name="bio" class="form-control" rows="4" placeholder="নিজের সম্পর্কে কিছু লিখুন">{{ user.bio }}</textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ছবি আপলোড করুন</label>
                                <div class="custom-file">
                                    <input name="image" type="file" class="custom-file-input" id="customFile" onchange="updateFileName()">
                                    <label class="custom-file-label" for="customFile" id="fileNameLabel">ফাইল নির্বাচন করুন</label>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div>
                        <button type="submit" class="btn btn-primary">আপডেট</button>
                        <button class="btn btn-light">বাতিল</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Account Section End -->

{% endblock content %}
