{% extends 'partials/base.html' %}
{% load static %}

{% block title %}সাইন ইন{% endblock title %}

{% block content %}

<div class="auth_wrapper">
    <header class="auth_header">সাইন ইন</header>
    <form method="POST" class="auth_form">
      {% csrf_token %}
      <div class="field email">
        <div class="input-area">
          <input type="text" required name="email" placeholder="ইমেইল ঠিকানা">
          <i class="icon fas fa-envelope"></i>
          {% if messages %}
          <i class="error error-icon fas fa-exclamation-circle"></i>
          {% endif %}
        </div>
        {% if messages %}
          {% for message in messages %}
            <div class="error error-txt">
              <strong>{{ message }}</strong>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="field password">
        <div class="input-area">
          <input type="password" required name="password" placeholder="পাসওয়ার্ড">
          <i class="icon fas fa-lock"></i>
        </div>
      </div>
      <div class="pass-txt"><a href="#">পাসওয়ার্ড ভুলে গেছেন?</a></div>
      <input type="submit" value="সাইন ইন">
    </form>
  <div class="sign-txt">এখনও সদস্য নন? <a href="{% url 'userauths:sign-up' %}">এখনই সাইন আপ করুন</a></div>
</div>

{% endblock content %}
